#mute {
    opacity: 0.4;
}

#mute.muted {
    opacity: 1;
}

#pause i:nth-child(2) {
    display: none;
}

#pause.paused i:first-child {
    display: none;
}

#pause.paused i:nth-child(2) {
    display: inline;
}

button, label {
    font-size: 20px;
}

#playlist a {
    color: black;
    font-family: sans-serif;
}

#playlist a:visited {
    color: grey;
}

@supports (-moz-appearance:none) {
    #playlist a:visited {
        color: black;
    }

    @media (prefers-color-scheme: dark) {
        #playlist a:visited {
            color: white;
        }
    }
}

#playlist a:active,
#playlist a.playlist-current {
    color: #9b009e;
}

#playlist tr td:first-child {
    text-align: right;
}

#loadfile-form.container,
.container {
    display: flex;
    margin: 10px 0;
}

.container > button {
    margin-left: 10px;
    flex: 1 40px;
}

.container > button:first-child {
    margin-left: 0px;
}

#volume {
    flex: 1;
    margin: 0 5px;
}

#seek, #audio-tracks, #sub-tracks {
    flex: 1;
}

.tracks {
    flex-wrap: wrap;
    gap: 10px;

}

.volume {
    align-items: center;
    font-size: 13px;
}

input {
    accent-color: #9b009e;
}

#filename {
    flex: 9;
    display: flex;
    flex-direction: column;
}

#filename > div {
    text-align: right;
}

#loadfile-form > button {
    flex: 1;
}

#loadfile-form > button,
#filename > input {
    font-size: 14px;
}

#loadfile-form.container {
    align-items: flex-start;
}

#playlist-append + label {
    font-size: 16px;
}

#loadfile-form {
    display: none;
}

@media (min-width: 650px) {
    .container-vertical {
        max-width: 400px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: black;
    }

    #playlist a,
    .volume,
    td:first-child,
    label,
    p {
        color: white;
    }

    #playlist a.playlist-current {
        color: #e500e9;
    }
}
